@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
html {height: 100%;}
body {line-height: 1;font-family: 'Inter', sans-serif;font-family: 'Roboto', sans-serif;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}


//first

.b1 {
    background-color: #ADD8E6;
    display: flex;
    justify-content: space-around;
}


.section__block {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    border-radius: 5px;
    width: 350px;
    background-color: #fff;

    .block__image {
        width: 100%;
        background-color: #C3C3C3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .block__title {
        margin: 10px 0 10px 20px;
        font-weight: 700;
    }

    .block__subtitle {
        margin: 10px 0 10px 20px;
        color: #8a8a8a;
        font-weight: 300;
    }
}

//two 

.b2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

//three 

.header {
    padding: 30px;
    background-color: #008B8B;
    color: #fff;
    font-weight: 500;
}

.main {
    display: flex;
    justify-content: space-around;
    background-color: #019E9E;
    width: 100%;
    height: 500px;

    .main__board {
        background-color: #DCDCDC;
        width: 30%;
        border-radius: 5px;

        .bourd__title {
            padding: 30px;
        }

        .board__block {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            width: 90%;
            margin: 0 auto 0 auto;

            .block__text {
                padding: 10px;
            }

            .block__board {
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .board__image {
                    width: 24px;
                    height: 24px;
                }

                .board__span {
                    font-size: 32px;
                }
            }
        }
    }
}